.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.login-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  height: 50vh;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc; 
  border-radius: 6px;
}

#signUpMsg {
  display: flex;
  justify-content: center;
}

 #SignUpLink {
  text-decoration: none;
  color: black;
  padding-left: 5px;
}

.error-message {
  color: red;
}

.forgot-signup {
  display: flex;
  align-items: center;
  gap: 45%;
}

.login-button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.login-button:active {
  transform: scale(0.95);
}

#forgot {
  text-decoration: none;
}


@media (max-width: 1050px){
  .login-form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 70%;
    height: 350px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  #signUpMsg {
    font-size: 14px;
  }

  #forgot {
    font-size: 14px;
  }

  .forgot-signup {
    gap: 25%;
  }
}

@media (max-width: 370px) {
  .forgot-signup {
    gap: 20%;
  }
}

