.sideNav {
    position: fixed;
    top: 0;
    width: 200px;
    height: 100%;
    display: block;
    justify-content: space-between;
    align-items: center;
    background-color: white;    
    z-index: 1000;
}

.options {
    padding-top: 15px;
    border-color: black;
}  

.sidenav-item {
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.unactive-sidenav {
    text-decoration: none;
}   

.unactive-sidenav:hover {
    text-decoration: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border-radius: 10px;
    padding-right: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
}   

.active-sidenav {
    text-decoration: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border-radius: 10px;
    padding-right: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidenav-word {
    text-decoration: none;
    color: black;
    padding-left: 10px;
    padding-top: 30px;
}

#icon {
    position: relative;
    margin-left: 15px;
}

#blackLogo {
    height: 120px;
    width: 250px;
    position: relative;
    right: 30px;
}

#name {
    position: fixed;
    margin-top: 10px;
    font-size: 20px;
}

@media (max-width: 1000px) {
  .sideNav {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  }

  .options {
    display: flex;
    gap: 15px;
  }

  #name {
    position: relative;
    margin-top: 10px;
    font-size: 20px;
}
}