body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.signup-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.signup-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
}

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 6px;
  font-weight: bold;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.name-fields {
  display: flex;
  gap: 50px;
}

.name-input {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#LoginMsg {
  padding-left: 75px;
}

#LoginLink {
  text-decoration: none;
  color: black;
}

.error-message {
  color: red;
}

.signup-button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media (max-width: 1000px) and (orientation: landscape){
    .signup-container {
      margin-top: 100px;
    }

    /*.signup-form {
      max-width: 500px;
      max-height: 100vh;  
      padding: 16px;
      font-size: 14px;
    }

    .form-input {
      padding: 8px;
      font-size: 14px;
    }

    .signup-button {
      padding: 8px 16px;
      font-size: 14px;
    } */
}